.ch_borrar {
	display: none;
	}
	
.ch_borrar + label {
	background-image:url(../img/glyphicons-halflings-white.png);
	display:inline-block;
	width:13px;
	height:15px;
	background-repeat: no-repeat;
	background-position: -457px 1px;
	background-color:#8F8F8F;	
	}

.ch_borrarOn {
	display: none;
	}
	
.ch_borrarOn + label {
	background-image:url(../img/glyphicons-halflings.png); 
	display:inline-block;
	width:13px;
	height:15px;
	background-repeat: no-repeat;
	background-position: -457px 1px;
	}	